@import "tailwindcss";

.three-titles-container {
  display: flex;
  width: 100%;
  max-width: 100%;
  justify-content: space-between;
  margin: 2rem 0;
  gap: 5rem;

  .three-titles-card {
    flex: 1;
    min-width: 200px;
    font-family: var(--font-ballon-font);
    padding: 1rem;
    color: white;
    text-align: left !important;
    text-align: center;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }

    // Target the first card
    &:nth-child(1) {
      transform: rotate(-2deg);
    }

    // Target the second card
    &:nth-child(2) {
      transform: rotate(2deg);
    }

    // Target the third card
    &:nth-child(3) {
      transform: rotate(-2deg);
    }
  }
}

@media (max-width: 768px) {
  .three-titles-container {
    flex-direction: column; 
        gap: 2rem; 
        align-items: center; 
  }

  .three-titles-container .three-titles-card {
    width: 100%;
    min-width: unset; 
    
    transform: none !important; 

    &:hover {
      transform: scale(1.02); 
    }
  }
}